<!-- Filename: main.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Dailyyoga Bugly</title>
</head>
<body>
    <div class="container">
      {{{body}}}
    </div>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.js"></script>
    <script src="/javascripts/fusioncharts_bugly.js" charset="utf-8"></script>
    <script src="/javascripts/fusioncharts.js"></script>
    <script src="/javascripts/fusioncharts.charts.js"></script>
    <script src="/javascripts/fusioncharts.theme.zune.js"></script>
</body>
</html>
